# How to plan your next vacation trip efficient

In [5]:
import pandas as pd
import numpy as np
import datetime as dt

In [288]:
# Your trip schedule, i.e., when you have time

schedule = pd.DataFrame({1: [8, 15],
                         2: [8, 20],
                         3: [8, 20],
                         4: [8, 20],
                         5: [8, 20],
                         6: [8, 20],
                         7: [8, 20]}).transpose().rename(columns={0: 'Start', 1: 'End'})
for col in schedule.columns:
    schedule[col] = pd.to_timedelta(schedule[col], unit='H', errors='coerce')
schedule.head()

     Start      End
1 08:00:00 15:00:00
2 08:00:00 20:00:00
3 08:00:00 20:00:00
4 08:00:00 20:00:00
5 08:00:00 20:00:00

In [289]:
# the opening hours of your points of interest
# Avg_time: the expected time to spend at the object
# Day: refers to the weekday
# Object: identificator of the object

objects = pd.DataFrame({1: [8, 18, 3, 1, 'A'],
                         2: [8, 18, 3, 2, 'A'],
                         3: [8, 18, 3, 3, 'A'],
                         4: [8, 18, 3, 4, 'A'],
                         5: [8, 18, 3, 5, 'A'],
                         6: [8, 18, 3, 6, 'A'],
                         7: [8, 18, 3, 7, 'A'],
                         8: [10, 18, 4, 1, 'B'],
                         9: [10, 18, 4, 2, 'B'],
                         10: [10, 18, 4, 3, 'B'],
                         11: [10, 18, 4, 4, 'B'],
                         12: [10, 18, 4, 5, 'B'],
                         13: [10, 18, 4, 6, 'B'],
                         14: [10, 18, 4, 7, 'B'],
                         15: [12, 17, 2, 1, 'C'],
                         16: [12, 17, 2, 2, 'C'],
                         17: [12, 17, 2, 3, 'C'],
                         18: [12, 17, 2, 4, 'C'],
                         19: [12, 17, 2, 5, 'C'],
                         20: [12, 17, 2, 6, 'C'],
                         21: [12, 17, 2, 7, 'C'],
                         22: [0, 24, 0, 1, 'X'],
                         23: [0, 24, 0, 2, 'X'],
                         24: [0, 24, 0, 3, 'X'],
                         25: [0, 24, 0, 4, 'X'],
                         26: [0, 24, 0, 5, 'X'],
                         27: [0, 24, 0, 6, 'X'],
                         28: [0, 24, 0, 7, 'X'],
                        
                       }).transpose().rename(
                    columns={0: 'Opening', 1: 'Closing', 2: 'Avg_time', 3: 'Day', 4: 'Object'})
for col in objects.columns[:-2]:
    objects[col] = pd.to_timedelta(objects[col], unit='H', errors='coerce')
objects.head(28)

    Opening         Closing Avg_time Day Object
1  08:00:00 0 days 18:00:00 03:00:00   1      A
2  08:00:00 0 days 18:00:00 03:00:00   2      A
3  08:00:00 0 days 18:00:00 03:00:00   3      A
4  08:00:00 0 days 18:00:00 03:00:00   4      A
5  08:00:00 0 days 18:00:00 03:00:00   5      A
6  08:00:00 0 days 18:00:00 03:00:00   6      A
7  08:00:00 0 days 18:00:00 03:00:00   7      A
8  10:00:00 0 days 18:00:00 04:00:00   1      B
9  10:00:00 0 days 18:00:00 04:00:00   2      B
10 10:00:00 0 days 18:00:00 04:00:00   3      B
11 10:00:00 0 days 18:00:00 04:00:00   4      B
12 10:00:00 0 days 18:00:00 04:00:00   5      B
13 10:00:00 0 days 18:00:00 04:00:00   6      B
14 10:00:00 0 days 18:00:00 04:00:00   7      B
15 12:00:00 0 days 17:00:00 02:00:00   1      C
16 12:00:00 0 days 17:00:00 02:00:00   2      C
17 12:00:00 0 days 17:00:00 02:00:00   3      C
18 12:00:00 0 days 17:00:00 02:00:00   4      C
19 12:00:00 0 days 17:00:00 02:00:00   5      C
20 12:00:00 0 days 17:00:00 02:00:00   6      C
21 12:00:00 0 days 17:00:00 02:00:00   7      C
22 00:00:00 1 days 00:00:00 00:00:00   1      X
23 00:00:00 1 days 00:00:00 00:00:00   2      X
24 00:00:00 1 days 00:00:00 00:00:00   3      X
25 00:00:00 1 days 00:00:00 00:00:00   4      X
26 00:00:00 1 days 00:00:00 00:00:00   5      X
27 00:00:00 1 days 00:00:00 00:00:00   6      X
28 00:00:00 1 days 00:00:00 00:00:00   7      X

In [291]:
# journey time to travel between the vertices

duration = pd.DataFrame(np.c_[['A', 'B'], 
                              ['A', 'C'],
                              ['A', 'X'],
                              ['B', 'C'],
                              ['B', 'X'],
                              ['C', 'X']]).transpose().rename(
                        columns={0: 'Node1', 1: 'Node2', 2: 'Time'})
duration['Time'] = pd.to_timedelta([1,2,2,3,2,0.5], unit='H', errors='coerce')
duration['Path'] = duration.apply(lambda x: '-'.join(x[['Node1', 'Node2']]), axis=1)
duration

  Node1 Node2     Time Path
0     A     B 01:00:00  A-B
1     A     C 02:00:00  A-C
2     A     X 02:00:00  A-X
3     B     C 03:00:00  B-C
4     B     X 02:00:00  B-X
5     C     X 00:30:00  C-X

# All potentials options

In [292]:
from itertools import permutations, combinations

In [293]:
perm = list(permutations('ABC', 3))
perm = [('X', *p, 'X') for p in perm]
perm

[('X', 'A', 'B', 'C', 'X'),
 ('X', 'A', 'C', 'B', 'X'),
 ('X', 'B', 'A', 'C', 'X'),
 ('X', 'B', 'C', 'A', 'X'),
 ('X', 'C', 'A', 'B', 'X'),
 ('X', 'C', 'B', 'A', 'X')]

In [294]:
perm2 = [(*p[:3], 'X', *p[3:]) for p in perm]

In [295]:
perm3 = [(*p[:2], 'X', *p[2:]) for p in perm]

In [296]:
perm4 = [(*p[:1], *p[1:2], 'X', *p[2:3], 'X', *p[3:]) for p in perm]

In [297]:
all_permutations = perm + perm2 + perm3 + perm4
all_permutations

[('X', 'A', 'B', 'C', 'X'),
 ('X', 'A', 'C', 'B', 'X'),
 ('X', 'B', 'A', 'C', 'X'),
 ('X', 'B', 'C', 'A', 'X'),
 ('X', 'C', 'A', 'B', 'X'),
 ('X', 'C', 'B', 'A', 'X'),
 ('X', 'A', 'B', 'X', 'C', 'X'),
 ('X', 'A', 'C', 'X', 'B', 'X'),
 ('X', 'B', 'A', 'X', 'C', 'X'),
 ('X', 'B', 'C', 'X', 'A', 'X'),
 ('X', 'C', 'A', 'X', 'B', 'X'),
 ('X', 'C', 'B', 'X', 'A', 'X'),
 ('X', 'A', 'X', 'B', 'C', 'X'),
 ('X', 'A', 'X', 'C', 'B', 'X'),
 ('X', 'B', 'X', 'A', 'C', 'X'),
 ('X', 'B', 'X', 'C', 'A', 'X'),
 ('X', 'C', 'X', 'A', 'B', 'X'),
 ('X', 'C', 'X', 'B', 'A', 'X'),
 ('X', 'A', 'X', 'B', 'X', 'C', 'X'),
 ('X', 'A', 'X', 'C', 'X', 'B', 'X'),
 ('X', 'B', 'X', 'A', 'X', 'C', 'X'),
 ('X', 'B', 'X', 'C', 'X', 'A', 'X'),
 ('X', 'C', 'X', 'A', 'X', 'B', 'X'),
 ('X', 'C', 'X', 'B', 'X', 'A', 'X')]

In [298]:
len(all_permutations)

24

In [299]:
# both match

len(set(all_permutations))

24

# Algorithm

In [313]:
# TODO: move start date (add timedelta, to see, if another shorter solutions exists)

paths = {}
days = []
for p in all_permutations:
    p_dur = pd.to_timedelta(0, unit='H') # total trip duration for this path
    n_day = schedule.index.values[0] # start at day 1
    #print('1: ', n_day)
    
    cur_time = schedule['Start'].loc[n_day] # opening hour of the first object
    #print('2: ', cur_time)
    
    # loop through each edge
    for node in zip(p, p[1:]):
        n = '-'.join(node)
        if n not in duration['Path'].values:
            n = n[::-1]   
        #print('3: ', n)
        
        # time until arrival at first object
        _cur_time = cur_time + duration['Time'][duration['Path']==n].values
        
        # always check if the boundary conditions are not broken yet
        if pd.to_timedelta(_cur_time, unit='H') < schedule['End'].loc[n_day]:
            cur_time = _cur_time
        else:
            #paths.update({p: -1})
            p_dur += schedule['End'].loc[n_day] - schedule['Start'].loc[n_day] 
            n_day += 1
            continue
            
        #print('4: ', pd.to_timedelta(cur_time, unit='H'))
       
        # calculate waiting time for early arrival at the object
        t_open = objects['Opening'][(objects['Object'] == node[1]) & (objects['Day'] == n_day)].values
        #print('5: ', pd.to_timedelta(t_open, unit='H'))
        
        # always check if the boundary conditions are not broken yet
        if pd.to_timedelta(_cur_time, unit='H') < t_open:
            _cur_time = cur_time + (t_open - cur_time)
            if pd.to_timedelta(_cur_time, unit='H') < schedule['End'].loc[n_day]:
                cur_time = _cur_time
            else:
                #paths.update({p: -1})
                p_dur += schedule['End'].loc[n_day] - schedule['Start'].loc[n_day] 
                n_day += 1
                continue

        # calculate average time spend at the object
        #print('6: ', pd.to_timedelta(cur_time, unit='H'))
        _cur_time = cur_time + objects['Avg_time'][(objects['Object'] == node[1]) & (objects['Day'] == n_day)].values

        # always check if the boundary conditions are not broken yet
        if pd.to_timedelta(_cur_time, unit='H') < schedule['End'].loc[n_day]:
            cur_time = _cur_time
        else:
            #paths.update({p: -1})
            p_dur += schedule['End'].loc[n_day] - schedule['Start'].loc[n_day] 
            n_day += 1
            continue        
        
        #print('\t'+'-'*50+'\n')
        
        p_dur += cur_time - schedule['Start'].loc[n_day]
        
    paths.update({p: pd.to_timedelta(p_dur, unit='H')})
    days.append(days)

In [ ]:
result = pd.DataFrame.from_dict(paths, orient='index').reset_index().rename(columns={
    'index': 'Path', 0: 'Minimum_Time'
})
#result['Days'] = days
result.sort_values(['Minimum_Time'], inplace=True)

In [315]:
#result['Minimum_Time'] = result['Minimum_Time'].apply(lambda x: pd.to_timedelta(x, unit='H'))

In [316]:
result

                     Path    Minimum_Time
2         (X, B, A, C, X) 1 days 09:30:00
1         (X, A, C, B, X) 1 days 10:00:00
0         (X, A, B, C, X) 1 days 10:30:00
5         (X, C, B, A, X) 1 days 11:00:00
3         (X, B, C, A, X) 1 days 12:00:00
4         (X, C, A, B, X) 1 days 12:00:00
7      (X, A, C, X, B, X) 1 days 17:00:00
6      (X, A, B, X, C, X) 1 days 17:30:00
17     (X, C, X, B, A, X) 1 days 18:00:00
8      (X, B, A, X, C, X) 1 days 18:30:00
9      (X, B, C, X, A, X) 1 days 19:00:00
16     (X, C, X, A, B, X) 1 days 19:00:00
13     (X, A, X, C, B, X) 1 days 19:30:00
11     (X, C, B, X, A, X) 1 days 21:00:00
10     (X, C, A, X, B, X) 1 days 21:00:00
15     (X, B, X, C, A, X) 1 days 21:30:00
12     (X, A, X, B, C, X) 1 days 22:30:00
14     (X, B, X, A, C, X) 1 days 23:30:00
19  (X, A, X, C, X, B, X) 2 days 03:30:00
22  (X, C, X, A, X, B, X) 2 days 04:00:00
23  (X, C, X, B, X, A, X) 2 days 04:00:00
21  (X, B, X, C, X, A, X) 2 days 06:30:00
18  (X, A, X, B, X, C, X) 2 days 11:00:00
20  (X, B, X, A, X, C, X) 2 days 12:00:00